*{
    margin: 0px;
    padding: 0px;
}

/** Index **/

header{
    display: flex;
    justify-content: center;
    height: 90px;
}

.nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: chartreuse;
    align-content: space-around;
}

.li-nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    border: 2px black solid;
}

section{
    width: auto;
    height: 716px;
    display: flexbox;
    margin-bottom: 55px;
}

.text-1{
    padding: 30px;
    text-align: center;
    height: 18%;
    border-radius: 1rem;
    margin-top: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img-1{
    display: flex;
    height: 200px;
    justify-content: space-around;
    border-radius: 1rem; 
    margin-top: 2px;
}

.img-img-1{
    border: 1px solid black;
    border-radius: 10px;
    transition: transform .5s;
}

.img-img-1:hover{
    transform: scale(1.5);
}

.img-img-2{
    border: 1px solid black;
    border-radius: 10px;
    transition: transform .5s;
}

.img-img-2:hover{
    transform: scale(1.5);
}

.img-img-3{
    border: 1px solid black;
    border-radius: 10px;
    transition: transform .5s;
}

.img-img-3:hover{
    transform: scale(1.5);
}

.img-img-4{
    border: 1px solid black;
    border-radius: 10px;
    transition: transform .5s;
}

.img-img-4:hover{
    transform: scale(1.5);
}

.text-2{
    padding: 30px;
    text-align: center;
    height: 25%;
    border-radius: 1rem;
    margin-top: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.img-2{
    display: flex;
    height: 200px;
    justify-content: space-around;
    border-radius: 1rem; 
    margin-top: 2px;
}

.img-img-5{
    border: 1px solid black;
    border-radius: 10px;
    transition: transform .5s;
}

.img-img-5:hover{
    transform: scale(1.5);
}

.img-img-6{
    border: 1px solid black;
    border-radius: 10px;
    transition: transform .5s;
}

.img-img-6:hover{
    transform: scale(1.5);
}

.img-img-7{
    border: 1px solid black;
    border-radius: 10px;
    transition: transform .5s;
}

.img-img-7:hover{
    transform: scale(1.5);
}

.img-img-8{
    border: 1px solid black;
    border-radius: 10px;
    transition: transform .5s;
}

.img-img-8:hover{
    transform: scale(1.5);
}

footer{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: chartreuse;
    position: absolute;
    margin-bottom: 0%;
    margin-top: 53px;
}

/** Index para celular **/

@media screen and (min-width: 350px) and (max-width: 1200px){
    
    .grid-container{  
        display: grid;
        grid-template-areas: 
        "header"
        "nav"
        "text-1"
        "img-1"
        "text-2"
        "img-2"
        "footer"
        ;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto auto auto auto;

    }

    header{
        grid-area: header;
    }

    nav{
        grid-area: nav;
    }

    .text-1{
        grid-area: text-1;
        width: auto;
        display: flex;
        margin-top: 40px;
        margin-bottom: 20px;
    }

    .img-1{
        grid-area: img-1;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .text-2{
        grid-area: text-2;
        width: 100%;
        margin-top: 40px;
    }

    .img-2{
        grid-area: img-2;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }    
    
    footer{
        grid-area: footer;
        display: flex;
        position: absolute;
        margin-bottom: 0%;
        margin-top: 900px;
    }
}


/**  Html registro **/

.section-registro{
    height: 770px;
    margin-bottom: 0%;
}

.fondo-form-registro{
    background-image: url(../img/plantita.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    height: 770px;
}

.div-form-registro{
    width: 400px;
    padding: 16px;
    margin: auto;
    height: 756px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-registro{
    margin-top: 0%;
}




/**  Contacto  **/

.section-contacto{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: url(../img/plantita.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    height: 770px;
    margin-bottom: 0%;
}

.form-contacto{
    font-size: larger;
    font-weight: 600;
    display: flexbox;
    margin: auto;
    height: 400px;
    padding-top: 90px;
}

form div{
    display: flex;
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
}

.footer-contacto{
    margin-top: 0%;
}



/** Aceites **/



.section-aceites{
    display: block;
    height: auto;
    margin-bottom: 0%;
}

.thc-cbd{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 15px;
    
}

.titulo-thc-cbd{
    margin-bottom: 5px;
    height: auto;
}

.text-thc-cbd{
    margin-left: 20px;
    height: auto;
    margin-left: 250px;
    margin-right: 250px;
    transition: transform .6s;
}

.text-thc-cbd:hover{
    transform: scale(1.1);
}


.beneficio-uso{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 15px;
    
}

.div-beneficios{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 250px;
    margin-right: 250px;
    height: auto;
    transition: transform .6s;
    margin-top: 10px;
    margin-bottom: 10px;
}

.div-beneficios:hover{
    transform: scale(1.1);
}


.footer{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: chartreuse;
    position: absolute;
    margin-bottom: 0%;
}

/** Reprocann **/

.section-repro{
    display: block;
    height: 647px;
}

.repro-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-;
    width: 100%;
    margin-top: 15px;
}

.titulo-repro{
    margin-bottom: 5px;
    height: auto;
}

.que-repro{
    margin-left: 20px;
    height: auto;
    margin-left: 250px;
    margin-right: 250px;
    transition: transform .6s;
}

.que-repro:hover{
    transform: scale(1.1);
}

.titulo-cant-plantas{
    margin-bottom: 5px;
    height: auto;
}

.cant-plantas{
    margin-left: 20px;
    height: auto;
    margin-left: 250px;
    margin-right: 250px;
    transition: transform .6s;
}

.cant-plantas:hover{
    transform: scale(1.1);
}

.titulo-transporte{
    margin-bottom: 5px;
    height: auto;
}

.transporte{
    margin-left: 20px;
    height: auto;
    margin-left: 250px;
    margin-right: 250px;
    transition: transform .6s;
}

.transporte:hover{
    transform: scale(1.1);
}

.titulo-vigencia{
    margin-bottom: 5px;
    height: auto;
}

.vigencia{
    margin-left: 20px;
    height: auto;
    margin-left: 250px;
    margin-right: 250px;
    transition: transform .6s;
}

.vigencia:hover{
    transform: scale(1.1);
}

.footer-repro{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: chartreuse;
    position: absolute;
    margin-bottom: 0%;
}