*{
    margin: 0px;
    padding: 0px;
}

header{
    display: flex;
    justify-content: center;
    height: 90px;
}

.nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: chartreuse;
    align-content: space-around;
}

.li-nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    border: 2px black solid;
}

.tarjeta-1{
    display: flex;
    border: 2px solid black;

}

.tarjeta-2{
    display: flex;
    border: 2px solid black;

}

.text-1{
    padding: 20px;
    text-align: center;
}

.img-1{
    display: flex;
    height: 200px;
}

.text-2{
    padding: 20px;
    text-align: end;
}


.img-2{
    display: flex;
    height: 200px;
}




footer{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: chartreuse;
    margin-top: 10px;
    position: absolute;
    bottom: 0;
}

@media screen and (max-width: 799px) {
    .grid{
        grid-template-columns: 1fr;
    }
    .grid-container{
        grid-template-columns: 100%;
        grid-template-rows: 80px 70px 150px 200px 150px 100px 100px;
        grid-template-areas:
        "header "
        "nav"
        "text-1"
        "img-1"
        "text-2"
        "img-2"
        "footer"
        ;
        row-gap: 2px;
    }
    /**       selector en grilla        **/
    header{
        grid-area: header;
    }

    .nav{
        grid-area: nav;
    }

    .text-1{
        grid-area: text-1;
    }

    .img-1{
        grid-area: img-1;
    }

    .text-2{
        grid-area: text-2;
        
    }

    .img-2{
        grid-area: img-2;
    }

    footer{
        grid-area: footer;
    }

    /**              **/

    .text-1{
        justify-content: stretch;
    }

    .img-1{
        justify-content: center;
    }

    .text-2{
        justify-content: stretch;
    }
    
    .img-2{
        justify-content: stretch;
    }
    
    footer{
        
    }
}

/**  Html registro **/

.fondo-form-registro{
    background-image: url(../img/plantita.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.div-form-registro{
    width: 400px;
    padding: 16px;
    margin: auto;
    border-radius: 10px solid black;
    height: 756px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



